    <h1 class="section-title section-title--spaced">{{ t.pages.about.headline }}</h1>

    <div class="biografia-columns">
      <div class="biografia-col biografia-col--photo">
        <img
          src="{{ '/assets/images/biografia/mauricio.jpg' | relative_url }}"
          alt="{{ t.pages.about.photo_alt }}"
          class="biografia-photo"
          loading="lazy"
          decoding="async"
        >
      </div>

      <div class="biografia-col biografia-col--text">
        <p class="biografia-lead"><strong>{{ t.pages.about.lead }}</strong></p>
        {% for paragraph in t.pages.about.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="biografia-extra">
      <p>
        <em>{{ t.pages.about.extra_before_link }}</em>
        <a href="{{ '/galerias/videos-externos/' | lang_url | relative_url }}">{{ t.pages.about.extra_link_text }}</a>{{ t.pages.about.extra_after_link }}
        {{ t.pages.about.extra_contact_before }}
        <a href="{{ '/contactar/' | lang_url | relative_url }}">{{ t.pages.about.extra_contact_link }}</a>
        {{ t.pages.about.extra_contact_after }}
      </p>

      <p>{{ t.pages.about.video_intro }}</p>

      <div class="biografia-video">
        <iframe src="https://www.youtube.com/embed/zHuv_GUgaks" title="{{ t.pages.about.video_title }}" allowfullscreen loading="lazy"></iframe>
      </div>

      <h3>{{ t.pages.about.events_title }}</h3>
      <ul class="biografia-list">
        {% for event in t.biografia_events %}
          <li>{{ event }}</li>
        {% endfor %}
      </ul>

      <h3><em>{{ t.pages.about.exhibitions_title }}</em></h3>
      <ul class="biografia-list">
        {% for item in t.biografia_exhibitions %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
