<div class="contact-icons">
  <a href="tel:+41779448470" class="contact-icon" aria-label="Llamar ({{ site.phone.ch }})" title="{{ site.phone.es }} / {{ site.phone.ch }}">
    <i class="fa-solid fa-phone"></i>
  </a>
  <a href="sms:+41779448470" class="contact-icon" aria-label="Mensaje de texto" title="SMS {{ site.phone.ch }}">
    <i class="fa-regular fa-comment"></i>
  </a>
  <a href="https://api.whatsapp.com/send?phone=41779448470" class="contact-icon" target="_blank" rel="noopener" aria-label="WhatsApp" title="WhatsApp">
    <i class="fa-brands fa-whatsapp"></i>
  </a>
</div>
