---
layout: default
---
{% include i18n-init.html %}
{% if page.i18n_key %}
  {% assign page_t = t.pages[page.i18n_key] %}
{% endif %}

{% include panel-shell-open.html %}
    {% if page.panel_show_title != false %}
      <h1 class="section-title">{{ page_t.title | default: page.title }}</h1>
    {% endif %}
    <div class="panel-page__content">
      {% if page.content_include %}
        {% include {{ page.content_include }} %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
{% include panel-shell-close.html %}
